body {
  font-family: arial, helvetica, sans-serif;
  overflow: hidden;
}
	
#wrapper {
  width: 700px;
  margin: 80px auto;
}

header {
  font-size: 1.0em;
  text-align: center;
}

header div {
  height: 200px;
  background: url(../i/parris.png) left top no-repeat;
  text-indent: -9999px;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

nav, section { 
  margin: 80px auto 100px; 
  text-align: center;
}
	
nav ul {  
  list-style: none;
  font-size: 0.8em;	
}

nav ul li {
  display: inline;
  padding: 0 30px;
}	

nav ol {  
  list-style: none;
  font-size: 1.0em;	
}

nav ol li {  
  line-height: 30px;	
}

a, a:hover { 
	text-decoration: none; 
}
